<% content_for :sidebar do %>

	<div class="list-group">
		<a href="#" class="list-group-item">
		  <h4 class="list-group-item-heading">List group item heading</h4>
		  <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
		</a>
		<a href="#" class="list-group-item">
		  <h4 class="list-group-item-heading">List group item heading</h4>
		  <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
		</a>
	</div>

<% end %>


<h1>Theme#show</h1>
<p>Find mBlogRSSTwitterGitHubAPIDonate
Made by Thomas Park. Contact him at hello@thomaspark.me.<br>
Code licensed under the Apache License v2.0.<br>
Based on Bootstrap. Icons from Font Awesome. Web fonts from Google. Favicon by Gerald Hiller.BlogRSSTwitterGitHubAPIDonate<br>
Made by Thomas Park. Contact him at hello@thomaspark.me.
Code licensed under the Apache License v2.0.
Based on Bootstrap. Icons from Font Awesome. Web fonts from Google. Favicon by Gerald Hiller.BlogRSSTwitterGitHubAPIDonate<br>
Made by Thomas Park. Contact him at hello@thomaspark.me.
Code licensed under the Apache License v2.0.<br>
Based on Bootstrap. Icons from Font Awesome. Web fonts from Google. Favicon by Gerald Hiller.e in app/views/theme/show.html.erb</p>
<%= params %>