<br><br><br>
<div class='row-fluid'>
    <div class='span12 box bordered-box blue-border'>
        <div class='box-header blue-background'>
            <div class='title'>
               <h2> <i class='icon-user-md'></i>
               编辑留言</h2>
            </div>
        </div>
        <div class='box-content box-double-padding'>
            <%= render 'form' %>
            <hr>
        </div>
    </div>
</div>