<%= simple_form_for(@resource_item, :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.file_field :upload_file %>
    <%#= f.input :resource_type %>
    <%#= f.input :resource_name %>
    <%#= f.input :resource_path %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary btn-large' %>
  </div>
<% end %>
