
<div class='span3 flatty-sidebar'>
    <ul class='nav nav-list nav-stacked' data-offset-top='0' data-spy='affix'>
        <li>
            <a href='#body-structure'>
                文档综述
            </a>
        </li>
         <li>
            <a href='#site'>
                站内通
            </a>
        </li>
        <li>
            <a href='#sms'>
                短信营销
            </a>
        </li>
        <li>
            <a href='#email'>
                邮件营销
            </a>
        </li>
        <li>
            <a href='#qzone'>
                QQ邮件发送到Qzone日志
            </a>
        </li>
        <li>
            <a href='#tables'>
                Tables
            </a>
        </li>
        <li>
            <a href='#calendar'>
                Calendar
            </a>
        </li>
        <li>
            <a href='#example-pages'>
                Example pages
            </a>
        </li>
        <li>
            <a href='#layouts'>
                Layouts
            </a>
        </li>
        <li>
            <a href='#colors-and-themes'>
                Colors and themes
            </a>
        </li>
        <li>
            <a href='#utils'>
                Utilities
            </a>
        </li>
    </ul>
</div><!-- span3 end -->

<div class='span9'>
<section id='body-structure'>
<pre>
我们的使命，以使你的工作更简单，更愉快，更富有成效的生活。我们期待着看到我们如何可以帮助您。

竞争网站：
https://slack.com/
Flickr 的创始人 Butterfield 新做了一个企业沟通协作类产品，目前还出于内测阶段，上线第一天就已经有 8000 多家公司注册，初势凶猛。

Slack 可能跟 Yammer 有些类似，目标是将分散的沟通方式聚集到一个地方，邮件、IM、短信、类似 Yammer 的工具、企业内网和 Wiki 等，都能在 Slack 这找到。Butterfield 称一些参与内测的公司发现一段时间后，内部沟通不那么依赖邮件了。

除了整合沟通方式外，Slack 还整合了文件分享系统，公司内所有共享文件，包括上传到 Slack 上的，还有储存在 Google Doc 或者 Dropbox 里的，通过内置的搜索工具，都能进行全文检索。Slack 还整合了 Twitter、Zendesk、Crashlytics 和 Heroku 等服务，将他们的通知提醒、Bug 追踪等数据融入到公司内的信息流中。目的只有一个，做一个能解决公司内所有问题的工具。
</pre>
    <div class='page-header'>
        <h1>Body structure</h1>
    </div>
    网站俗语约定：
    <pre class='prettyprint linenums'>
master -- 站长，网站所有者
siter -- 购买网站营销服务的网站客户，对应表名：user

phoner -- 群发短信的号码拥有者，可能升级为contacter
emailer -- 群发邮件的号码拥有者，可能升级为emailer
contacter -- 联系人，可能升级为customer,对应表名：account
customer -- siter的真正客户，从contacter,phoner,emailer等渠道转化过来的。对应表名：account

contacter 和 customer同属于表account, 分类不一样而已，方便管理！
    </pre>
    <h3>resource_items</h3>
        用于管理上传资源或者临时使用资源。如导入手机号的Excel，导入电子邮件的Excel，网站必要用图（用户大量用图采用第三方托管）。
    <pre class='prettyprint linenums'></pre>
    <h3>keystores</h3>
        键值对
    <pre class='prettyprint linenums'>
/app/models/keystore.rb
/lib/monkey.rb   
    </pre>
   
</section>
<br>
<br>
<section id='site'>
    <div class='page-header'>
        <h1>站内通</h1>
        提供企业自助建站，简历企业自己的形象网站，打通营销和宣传的出口和入口。
        网站内容包括：企业介绍（简介、地址、联系方式），主题页，博客发布（博客分发到各平台），微博发布（多说分享到各微博平台），微信传播
    </div>
    <h3>参考</h3>
    <pre class='prettyprint linenums'>
    腾讯企业空间：http://4000850900.114.qq.com/
    电脑经销商：http://dealer.zol.com.cn/d_99016/
    ３１５８：http://www.3158.cn/corpname/taotaox/?site=mjgg-gjzs
    58网邻通； http://jcyjg.58.com.cn/
    </pre>
</section>

<br>
<br>
<section id='sms'>
    <div class='page-header'>
        <h1>短信营销</h1>
    </div>
    <pre class='prettyprint linenums'>
手机号码批量导入
短信模版创建
短信群发
    </pre>
    <h3>数据表</h3>
    <pre class='prettyprint linenums'>
phone_items

sms_tmps
sms_logs
    </pre>
    <h3>phone_item</h3>
    <pre class='prettyprint linenums'>    
rails g scaffold phone_item user:references mobile:string source_name:string name:string city:string area:string description:text note:text is_processed:string send_count:integer account_id:integer

user:references 
mobile:string 
name:string  手机使用者
source_name:string  来源
city:string 
area:string
description:text 采集网络的内容放此处
note:text 备注
is_processed:string 
send_count:integer
account_id:integer 有可能将来转化为客户
    </pre>
    <h3>sms_tmp</h3>
    <pre class='prettyprint linenums'> 
rails g scaffold sms_tmp user:references title:string content:text

user_id
title
content
    </pre>
    <h3>sms_log</h3>
    <div class="alert alert-note">
        短信发送日志只用户保存网站功能性应用日志，如找回密码，验证码确认，跟siter的沟通等。
        日志不保存phone_items群发的信息。
    </div>
    <pre class='prettyprint linenums'> 
rails g scaffold sms_log user:references sms_tmp:references resource:string resource_id:integer status:integer

user_id
resource 资源名称( account, or ...) phone_item 作为群发对象，不写进日志。
resource_id 
sms_tmp_id
status (发送状态：失败、成功； 来自常量)
    </pre>
</section>
<br>
<br>
<section id='email'>
    <div class='page-header'>
        <h1>邮件营销</h1>
    </div>
    <pre class='prettyprint linenums'>
    biz_mailer.rb
    layouts/email.html.erb
    发送邮件的Gmail设置在【账号资源】管理中。

邮件批量导入
邮件模版创建
邮件群发

http://railsapps.github.io/rails-send-email.html
    </pre>
    <h3>数据表</h3>
    <pre class='prettyprint linenums'>
mail_items

mail_tmps
mail_logs
    </pre>
    <h3>mail_items</h3>
    <pre class='prettyprint linenums'>    
rails g scaffold mail_item user:references email:string name:string source_name:string city:string area:string description:text note:text is_processed:string send_count:integer account_id:integer

user:references 
email:string 
name:string  
source_name:string  来源
city:string 
description:text 采集网络的内容放此处
note:text 备注
is_processed:string 
send_count:integer
account_id:integer 有可能将来转化为客户
    </pre>
    <h3>mail_tmp</h3>
    <pre class='prettyprint linenums'> 
rails g scaffold mail_tmp user:references title:string content:text

user_id
title
content
    </pre>
    <h3>mail_log</h3>
    <div class="alert alert-note">
        (暂时不用)
    </div>
    <pre class='prettyprint linenums'> 
rails g scaffold sms_log user:references sms_tmp:references resource:string resource_id:integer status:integer

user_id
resource 资源名称( account, or ...) phone_item 作为群发对象，不写进日志。
resource_id 
sms_tmp_id
status (发送状态：失败、成功； 来自常量)
    </pre>
</section>
<br>
<br>
<section id='qzone'>
    <div class='page-header'>
        <h1>QQ邮箱发送日志到Qzone</h1>
    </div>
    <h3>如此这般就可以实现在站内网发布的博客一键邮件到QQ空间了</h3>
    <pre class='prettyprint linenums'>
1. 登录QQ邮箱，在‘设置’里面开启smtp服务，否则报错：QQ 454 Authentication failed, please open smtp flag first
2. from 与 user_name必须一致，否则报错。
3. QQ客服：http://kf.qq.com/faq/120322fu63YV130422nqIrqu.html
4. QQ是77632132， 则Qzone的地址为：77632132@qzone.qq.com

实例代码：

class BizMailer < ActionMailer::Base
  layout 'email'
  default from: "77632132@qq.com"

  #Overwrite config.action_mailer.smtp_settings
  self.smtp_settings = {
    address: "smtp.qq.com",
    port: 25,
    domain: "65960.com",
    authentication: "plain",
    enable_starttls_auto: true,
    user_name: '77632132',
    password: 'i3epasword'
  }

  def marketing_mail(content)
    @greeting = "Hi"
    @content = content
    mail to: "77632132@qzone.qq.com"
  end
end

    </pre>
</section>
</div><!-- class='span9' end -->
