<div class='container'>
<div class='row'>

<div class='span3 flatty-sidebar'>
    <ul class='nav nav-list nav-stacked' data-offset-top='0' data-spy='affix'>
        <li>
            <a href='#body-structure'>
                文档综述
            </a>
        </li>
        <li>
            <a href='#sms'>
                短信营销
            </a>
        </li>
        <li>
            <a href='#email'>
                邮件营销
            </a>
        </li>
        <li>
            <a href='#components'>
                Components
            </a>
        </li>
        <li>
            <a href='#tables'>
                Tables
            </a>
        </li>
        <li>
            <a href='#calendar'>
                Calendar
            </a>
        </li>
        <li>
            <a href='#example-pages'>
                Example pages
            </a>
        </li>
        <li>
            <a href='#layouts'>
                Layouts
            </a>
        </li>
        <li>
            <a href='#colors-and-themes'>
                Colors and themes
            </a>
        </li>
        <li>
            <a href='#utils'>
                Utilities
            </a>
        </li>
    </ul>
</div><!-- span3 end -->

<div class='span9'>
<section id='body-structure'>
    <div class='page-header'>
        <h1>Body structure</h1>
    </div>
    网站俗语约定：
    <pre class='prettyprint linenums'>
master -- 站长，网站所有者
siter -- 购买网站营销服务的网站客户，对应表名：user

phoner -- 群发短信的号码拥有者，可能升级为contacter
emailer -- 群发邮件的号码拥有者，可能升级为emailer
contacter -- 联系人，可能升级为customer,对应表名：account
customer -- siter的真正客户，从contacter,phoner,emailer等渠道转化过来的。对应表名：account

contacter 和 customer同属于表account, 分类不一样而已，方便管理！
    </pre>
    <h3>resource_items</h3>
        用于管理上传资源或者临时使用资源。如导入手机号的Excel，导入电子邮件的Excel，网站必要用图（用户大量用图采用第三方托管）。
    <pre class='prettyprint linenums'></pre>
    <h3>keystores</h3>
        键值对
    <pre class='prettyprint linenums'>
/app/models/keystore.rb
/lib/monkey.rb   
    </pre>
   
</section>
<br>
<br>
<section id='sms'>
    <div class='page-header'>
        <h1>短信营销</h1>
    </div>
    <pre class='prettyprint linenums'>
手机号码批量导入
短信模版创建
短信群发
    </pre>
    <h3>数据表</h3>
    <pre class='prettyprint linenums'>
phone_items

sms_tmps
sms_logs
    </pre>
    <h3>phone_item</h3>
    <pre class='prettyprint linenums'>    
rails g scaffold phone_item user:references mobile:string source_name:string name:string city:string area:string description:text note:text is_processed:string send_count:integer account_id:integer

user:references 
mobile:string 
name:string  手机使用者
source_name:string  来源
city:string 
area:string
description:text 采集网络的内容放此处
note:text 备注
is_processed:string 
send_count:integer
account_id:integer 有可能将来转化为客户
    </pre>
    <h3>sms_tmp</h3>
    <pre class='prettyprint linenums'> 
rails g scaffold sms_tmp user:references title:string content:text

user_id
title
content
    </pre>
    <h3>sms_log</h3>
    <div class="alert alert-note">
        短信发送日志只用户保存网站功能性应用日志，如找回密码，验证码确认，跟siter的沟通等。
        日志不保存phone_items群发的信息。
    </div>
    <pre class='prettyprint linenums'> 
rails g scaffold sms_log user:references sms_tmp:references resource:string resource_id:integer status:integer

user_id
resource 资源名称( account, or ...) phone_item 作为群发对象，不写进日志。
resource_id 
sms_tmp_id
status (发送状态：失败、成功； 来自常量)
    </pre>
</section>
<br>
<br>
<section id='email'>
    <div class='page-header'>
        <h1>邮件营销</h1>
    </div>
    <pre class='prettyprint linenums'>
邮件批量导入
邮件模版创建
邮件群发
    </pre>
    <h3>数据表</h3>
    <pre class='prettyprint linenums'>
mail_items

mail_tmps
mail_logs
    </pre>
    <h3>mail_items</h3>
    <pre class='prettyprint linenums'>    
rails g scaffold mail_item user:references email:string name:string source_name:string city:string area:string description:text note:text is_processed:string send_count:integer account_id:integer

user:references 
email:string 
name:string  
source_name:string  来源
city:string 
description:text 采集网络的内容放此处
note:text 备注
is_processed:string 
send_count:integer
account_id:integer 有可能将来转化为客户
    </pre>
    <h3>mail_tmp</h3>
    <pre class='prettyprint linenums'> 
rails g scaffold mail_tmp user:references title:string content:text

user_id
title
content
    </pre>
    <h3>mail_log</h3>
    <div class="alert alert-note">
        (暂时不用)
    </div>
    <pre class='prettyprint linenums'> 
rails g scaffold sms_log user:references sms_tmp:references resource:string resource_id:integer status:integer

user_id
resource 资源名称( account, or ...) phone_item 作为群发对象，不写进日志。
resource_id 
sms_tmp_id
status (发送状态：失败、成功； 来自常量)
    </pre>
</section>
<br>
<br>
<section id='ui'>
    <div class='page-header'>
        <h1>Body structure</h1>
    </div>
    <h3>Header structure</h3>
    <pre class='prettyprint linenums'>&lt;header&gt;
      &lt;div class='navbar'&gt;
   
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/header&gt;</pre>
</section>
</div><!-- class='span9' end -->

</div><!-- class='row' end -->
</div><!-- class='container' end -->