<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
  <%%= f.error_notification %>

  <fieldset>
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>
  </fieldset>

  <div class='form-actions' style='margin-bottom: 0;'>
      <div class='text-right'>
          <%%= button_tag(type: 'submit', class: "btn btn-primary btn-large") do %>
            <i class='icon-save'></i> 提交
          <%% end %>
      </div>
  </div>
<%% end %>
