<nav class="" id="main-nav">
<div class="navigation">
<div class="search">
    <form accept-charset="UTF-8" action="search_results.html" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <div class="search-wrapper">
            <input autocomplete="off" class="search-query" id="q" name="q" placeholder="Search..." type="text" value="">
            <button class="btn btn-link icon-search" name="button" type="submit"></button>
        </div>
    </form>
</div>
<ul class="nav nav-stacked">
<li>
    <a href="/">
        <i class="icon-dashboard"></i>
        <span>控制面板</span>
    </a>
</li>
<li>
    <a href="/user_details/0/edit">
        <i class="icon-user"></i>
        <span>基本信息</span>
    </a>
</li>
<li>
    <a href="/sites/">
        <i class="icon-sitemap"></i>
        <span>站内通</span>
    </a>
</li>
<li>
    <a href="/home/sms">
        <i class="icon-phone"></i>
        <span>短信通</span>
    </a>
</li>
<li>
    <a href="/home/email">
        <i class="icon-envelope"></i>
        <span>邮件通</span>
    </a>
</li>

<li class="">
    <a class="dropdown-collapse" href="#">
        <i class="icon-th"></i>
        <span>分类信息通</span>
        <i class="icon-angle-down angle-down"></i>
    </a>
    <ul class="nav nav-stacked">
        <li class="">
            <a href="form_styles.html">
                <i class="icon-list"></i>
                <span>58同城</span>
            </a>
        </li>
        <li class="">
            <a href="form_components.html">
                <i class="icon-list-ol"></i>
                <span>赶集网</span>
            </a>
        </li>
        <li class="">
            <a href="validations.html">
                <i class="icon-list-ul"></i>
                <span>百姓网</span>
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#">
        <i class="icon-comments-alt"></i>
        <span>微博通</span>
    </a>
</li>
<li>
    <a href="#">
        <i class="icon-comments"></i>
        <span>微信通</span>
    </a>
</li>
<li>
    <a href="/home/blog">
        <i class="icon-external-link"></i>
        <span>博客通</span>
    </a>
</li>
<li>
    <a href="#">
        <i class="icon-volume-up"></i>
        <span>问答通</span>
    </a>
</li>
<li>
    <a href="#">
        <i class="icon-book"></i>
        <span>百科通</span>
    </a>
</li>
<li>
    <a href="#">
        <i class="icon-facetime-video"></i>
        <span>视频通</span>
    </a>
</li>
<li>
    <a href="/home/qq">
        <i class="icon-user-md"></i>
        <span>QQ通</span>
    </a>
</li>
<li class="">
    <a class="dropdown-collapse" href="#">
        <i class="icon-group"></i>
        <span>论坛通</span>
        <i class="icon-angle-down angle-down"></i>
    </a>
    <ul class="nav nav-stacked">
        <li class="">
            <a href="form_styles.html">
                <i class="icon-caret-right"></i>
                <span>Discuz!</span>
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="/home/map">
        <i class="icon-map-marker"></i>
        <span>地图通</span>
    </a>
</li>
<li>
    <a href="/home/share">
        <i class="icon-share"></i>
        <span>分享通</span>
    </a>
</li>
<li>
    <a href="#">
        <i class="icon-cloud"></i>
        <span>行业通</span>
    </a>
</li>
<li>
    <a href="#">
        <i class="icon-signal"></i>
        <span>移动通</span>
    </a>
</li>
<li>
    <a href="#">
        <i class="icon-money"></i>
        <span>付费通</span>
    </a>
</li>
<li>
    <a href="#">
        <i class="icon-stethoscope"></i>
        <span>数据分析</span>
    </a>
</li>
<li>
    <a class="dropdown-collapse " href="#">
        <i class="icon-cog"></i>
        <span>布局设置</span>
        <i class="icon-angle-down angle-down"></i>
    </a>
    <ul class="nav nav-stacked">
        <li class="">
            <a href="closed_navigation.html">
                <i class="icon-caret-right"></i>
                <span>Closed navigation</span>
            </a>
        </li>
        <li class="">
            <a href="fixed_header.html">
                <i class="icon-caret-right"></i>
                <span>Fixed header</span>
            </a>
        </li>
        <li class="">
            <a href="fixed_navigation.html">
                <i class="icon-caret-right"></i>
                <span>Fixed navigation</span>
            </a>
        </li>
        <li class="">
            <a href="fixed_navigation_and_header.html">
                <i class="icon-caret-right"></i>
                <span>Fixed navigation &amp; header</span>
            </a>
        </li>
    </ul>
</li>
</ul>
</div>
</nav>